doctype html
html(lang='en')
  head
    title Weather App
  body
    h1 Weather App
    #container.col
      p
        | Welcome to a Node Express built weather app. Please enter your location below for current weather activity.
      #icon
      form
        input(type='text', name='search', value='Please enter your town or post code')

